{% extends 'project/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">
        Welcome to Your Personal Workout Tracker,
        {% if user.is_authenticated %}
            {{ user.first_name|default:user.username }}!
        {% else %}
            Guest!
        {% endif %}
    </h1>
    <p class="lead">Track your workouts, monitor your progress, and achieve your fitness goals.</p>
    <hr class="my-4">
    {% if user.is_authenticated %}
        <p>Get started by viewing exercises or logging your workouts.</p>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'project:exercise_list' %}" class="btn btn-primary btn-lg">Add/View Exercises</a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'project:workout_session_list' %}" class="btn btn-success btn-lg">Add/View Workouts</a>
            </div>
        </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            <div class="card-header">
                <h3>5 Most Recent Workouts</h3>
            </div>
            <div class="card-body">
                {% if recent_workouts %}
                    <ul class="list-group">
                        {% for workout in recent_workouts %}
                        <li class="list-group-item">
                            <a href="{% url 'project:workout_session_detail' workout.pk %}">
                                {{ workout.date }} - {{ workout.notes|truncatechars:50 }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No recent workouts.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                <h3>Quick Stats</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        Total Exercises: {{ total_exercises }}
                    </li>
                    <li class="list-group-item">
                        Total Workouts: {{ total_workouts }}
                    </li>
                    <li class="list-group-item">
                        Total Sets: {{ total_sets }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 