<!-- mini-fb/base.html -->
<!-- 
    The base template for mini-fb.
    It provides a consistent layout for all pages, including a navigation bar and footer.
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
       <title>{% block title %}Base{% endblock %}</title>
       <link rel="stylesheet" type="text/css" href="{% static 'styles-mini-fb.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <a href="{% url 'show_all_profiles' %}">All Profiles</a> | 
                <a href="{% url 'create_profile' %}">Create New Profile</a>


                <!-- User authentication -->
                {% if user.is_authenticated %}
                | Logged in as: {{ user.username }} 
                | <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" >Logout</button>
                </form>
                {% else %}
                | <a href="{% url 'login' %}">Login</a>
                {% endif %}

            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <p>Copyright ©2025 | Designed by Decheng Zheng</p>
        </footer>
    </body>
</html>